/* Google fonts cdn link */

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Nunito', sans-serif;
}

/* Nav */
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: #2e2e2e;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    z-index: 99999 !important;
}
nav .home{
    position: absolute;
    left: 0;
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center;
    z-index: 1;
}
nav .navbar {
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}
nav .navbar .logo a img{
    width: 40px;
    height: 40px;
}
nav .navbar .nav-links{
    height: 100%;
    line-height: 70px;
}
nav .navbar .nav-links .links{
    display: flex;
}
nav .navbar .nav-links .links li{
    position: relative;
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0 14px;
}
nav .navbar .nav-links .links li a{
    height: 100%;
    color: #fff;
    text-decoration: none;
    white-space: nowrap;
    font-size: 12px;
    font-weight: 500;
}

nav .navbar .nav-links .links li a:hover{
    height: 100%;
    color: rgb(248, 189, 78);
    text-decoration: none;
    white-space: nowrap;
    font-size: 12px;
    font-weight: 500;
}

.navbar .bx-menu,
    .nav-links .sidebar-logo .logo_name,
    .nav-links .sidebar-logo .bx-x {
        display: none;
    }

nav  .navbar .nav-links .links u li:hoverr{
    color: orange;
}

/* responsive navbar */
 @media (max-width:954px) {
    nav .navbar{
        max-width: 100%;
        padding: 0 25px;
    }
    nav .navbar .nav-links .links li{
        padding: 0 10px;
    }
    nav .navbar .nav-links .links li a{
        font-size: 14px;
    }
}

@media (max-width:800px) {
    nav .navbar .nav-links{
        display: block;
        position: fixed;
        top: 0;
        left: -100%;
        max-width: 270px;
        width: 100%;
        background: #2e2e2e;
        padding: 20px;
        line-height: 40px;
    }
    nav{
      height: 50px;
    }
    nav .navbar .logo a img{
      width: 30px;
      height: 30px;
  }
    nav .navbar .nav-links .sidebar-logo{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .navbar .bx-menu,
    .nav-links .sidebar-logo .logo_name,
    .nav-links .sidebar-logo .bx-x {
        color: #fff;
        font-size: 25px;
        font-weight: 500;
        cursor: pointer;
    }
    .navbar .bx-menu,
    .nav-links .sidebar-logo .logo_name,
    .nav-links .sidebar-logo .bx-x {
        display: block;
    }
    nav .navbar .nav-links .links{
        display: block;
        margin-top: 20px;
    }
    nav .navbar .nav-links .links li{
        display: block;
    }
}

/* xxxxxxxxxxxxxxxxxxxx Slider xxxxxxxxxxxxxxxxxxxxxxxxxx */
 .carousel-item{
    position: relative;
    font-size: 1rem;
    height: 600px;
}
#carouselExampleCaptions .carousel .carousel-item{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.carousel-caption{
    bottom: 180px;
    padding-left: 100px;
    padding-right: 100px;
}
.carousel-caption h5{
    font-size: 80px;
    font-weight: 700;
}
.carousel-caption p{
    font-size: 16px;
    top: 2rem;
}

/* xxxxxxxxxxxx responsive slide xxxxxxxxxxxxx */

@media (max-width: 1024px) {
    .carousel-item{
        height: 400px;
    }
}
@media(max-width: 768px){
    .carousel-control-next, 
    .carousel-control-prev{
        display: none;
    }
    .carousel-item{
        height: 360px;
    }
    .carousel-indicators{
        display: none;
    }
    .carousel-caption{
        font-size: 2.375rem;
        line-height: 2.375rem;
        margin-bottom: .5rem;
        letter-spacing: -.87px;
    }
}
@media(max-width: 399px) {
    .carousel-item{
        height: 200px;
    }
}

/* xxxxxxxxxxxxx Cards xxxxxxxxxxxxxxxxxxxxx  */

#facilities h2{
    font-weight: 400;
    font-size: 50px;
    padding-top: 90px;
}
#facilities .container{
    padding-top: 0;
}
#facilities .container > div{
    flex-grow: 1;
    flex-basis: 0;
    padding: .2rem .9rem;
}
.title{
    text-align: center;
}
.card-body{
    box-shadow: 0 0 20px 7px rgba(0, 0, 0, 0.1);
}
.card{
    margin: 20px 10px;
    vertical-align: top;
}
.card:hover{
    box-sizing: border-box !important;
    cursor: pointer !important;
    transition: all 0.3s ease !important;
    transform: scale(1.1) !important;
}
.card-body a{
    color: rgb(146, 98, 8);
    text-decoration: none;
    font-size: 15px;
    margin-top: auto;
    font-weight: 600;
}
.card-body a:hover{
    color: rgb(248, 189, 78);
}

/* Responsive card text */
@media (max-width: 450px) {
    #facilities h2{
        font-weight: 200;
        font-size: 40px;
    }
}
@media (max-width: 300px) {
    #facilities h2{
        font-weight: 200;
        font-size: 30px;
    }
}


/* Services */
.services {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 5vh;
  }
  
  .s-heading {
    text-align: center;
  }
  
  .s-heading h1 {
    color: #576975;
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0px;
  }
  
  .s-heading {
    color: rgba(87, 105, 117, 0.6);
    font-size: 1rem;
    margin: 5px;
    text-align: center;
  }
  
  .s-box-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .s-box img {
    height: 75px;
  }
  
  .s-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 300px;
    height: 400px;
    padding: 20px 25px;
    margin: 30px;
    position: relative;
  }
  
  .s-box h1 {
    color: #576975;
    letter-spacing: 1px;
    font-size: 1.5rem;
    margin-bottom: 8px;
  }
  
  .s-box p {
    color: rgba(87, 105, 117, 0.9);
    text-align: center;
  }
  
  .s-btn {
    width: 140px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #576975;
    margin-top: 10px;
    text-decoration: none;
  }
  
  .s-box:hover {
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
    transition: all ease 0.3s;
  }
  
  .s-btn:hover {
    background-color: #576975;
    border: 1px solid #576975;
    color: #fff;
    transition: all ease 0.3s;
  }
  
  .bar {
    width: 100px;
    height: 6px;
    position: absolute;
    left: 50%;
    top: 0px;
    transform: translateX(-50%);
    background-color: #576975;
    border-radius: 0px 0px 10px 10px;
    display: none;
    animation: bar 0.5s;
  }
  
  .s-box:hover .bar {
    display: block;
  }
  
  @keyframes bar {
    0% {
      width: 0px;
    }
    100% {
      width: 100px;
    }
  }
  
  @media (max-width: 1050px) {
    .s-box-container {
      flex-wrap: wrap;
    }
    .services {
      height: auto;
    }
    .s-box {
      flex-grow: 1;
    }
  }
  
  @media (max-width: 870px) {
    .services {
      position: relative;
      top: 20vh;
    }
  }
  
  @media (max-width: 570px) {
    .services {
      position: relative;
      top: 20vh;
    }
  }

/* xxxxxxxxxxxxxx About styles xxxxxxxxxxxxxxxxxx */
.about{
    padding: 35px;
}
.row{
    padding-top: 20vh;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.row .a-content,
.row .a2-content,
.row .a-con{
    position: relative;
    width: 48%;
}
.row .a-con .con-text{
    position: absolute;
    margin-left: 120%;
    width: 90%;
    top: -60%;
}
.row .a2-content .con2-text{
    position: absolute;
    width: 90%;
    top: -60%;
}
.titleText{
    font-size: 2em;
    font-weight: 300;
}
.titleText span{
    font-weight: 700;
    font-size: 1.5em;
}
.row .a-content .imgBx,
.row .a-content .imgx,
.row .a-content .imgbx{
    position: relative;
    width: 100%;
    height: auto;
    min-height: 300px;
}
.row .a-content .imgBx img{
    position: absolute;
    top: -70%;
    left: 230%;
    width: 200%;
    height: auto;
    object-fit: cover;
}
.row .a-content .imgx img{
    position: absolute;
    top: -78%;
    left: 230%;
    width: 200%;
    height: auto;
    object-fit: cover;
}
.row .a-content .imgbx img{
    position: absolute;
    top: -70%;
    margin-left: 33px;
    width: 200%;
    height: auto;
    object-fit: cover;
}

/* xxxxxxxxxxxxxxxxx Responsive about xxxxxxxxxxxxxxxxx */
@media (max-width:991px) {
    .about{
        padding: 20px;
    }
    .about .a-heading{
        padding-top: 20vh;
    }
    .row{
        flex-direction: column;
    }
    .row .a-content,
    .row .a2-content,
    .row .a-con{
        position: relative;
        width: 100%;
    }
    .row .a-content .imgBx,
    .row .a-content .imgx,
    .row .a-content .imgbx{
        height: 300px;
        margin-top: 20px;
    }
    .row .a-content .imgBx img {
        top: 1%;
        left: 0;
        width: 100%;
    }
    .row .a-content .imgbx img {
        top: 1%;
        left: -8%;
        width: 100%;
        margin-top: 90px;
    }
    .row .a-content .imgx img {
        top: 1%;
        left: 0;
        width: 100%;
        margin-top: 180px;
    }
    .row .a-con .con-text{
        margin-top: 90px;
        margin-left: 4%;
        width: 100%;
    }
    .row .a2-content .con2-text{
        margin-top: 180px;
        margin-left: 4%;
        width: 100%;
    }
    .titleText{
        font-size: 1.8em;
        line-height: 1.5em;
        margin-bottom: 15px;
        font-weight: 300;
    }
}
@media (max-width: 760px) {
    .row .a-content .imgbx img{
        left: -2%;
    }
    .row .a-con .con-text,
    .row .a2-content .con2-text{
        width: 80%;
    }
}
@media (max-width: 420px) {
    .about .a-heading{
        padding-top: 20vh;
    }
    .row .a-content .imgbx img{
        margin-top: 120px;
        left: -5%;
    }
    .row .a-content .imgx img{
        margin-top: 230px;
    }
    .row .a2-content .con2-text{
        margin-top: 200px;
    }
}
@media (max-width: 356px) {
    .about .a-heading{
        padding-top: 50vh;
    }
    .row .a2-content .con2-text{
        margin-top: 120px;
    }
    .row .a-con .con-text{
        margin-top: 15px;
    }
    .row .a-content .imgbx img{
        margin-top: 120px;
        left: -9%;
    }
}
@media (max-width: 262) {
    .row .a-con .con-text p{
        margin-top: 10px;
    }
    .row .a2-content .con2-text{
        margin-top: 130px;
    }
}

/* xxxxxxxxxxxxxx Map and Contact xxxxxxxxxxxx */
#map{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
section .container .conStyle{
    color: orange;
}

/* xxxxxxxxxxxxxxxxxx Footer xxxxxxxxxxxxxxxxxxx */
footer .container .linkStyle{
    color: orange;
}