/* Google fonts cdn link */

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: #2e2e2e;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    z-index: 99999 !important;
}
nav .home{
    position: absolute;
    left: 0;
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center;
    z-index: 1;
}
nav .navbar {
    height: 100%;
    max-width: 1250px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}
nav .navbar .logo a img{
    width: 40px;
    height: 40px;
}
nav .navbar .nav-links{
    height: 100%;
    line-height: 70px;
}
nav .navbar .nav-links .links{
    display: flex;
}
nav .navbar .nav-links .links li{
    position: relative;
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0 14px;
}
nav .navbar .nav-links .links li a{
    height: 100%;
    color: #fff;
    text-decoration: none;
    white-space: nowrap;
    font-size: 12px;
    font-weight: 500;
}

nav .navbar .nav-links .links li a:hover{
    height: 100%;
    color: rgb(248, 189, 78);
    text-decoration: none;
    white-space: nowrap;
    font-size: 12px;
    font-weight: 500;
}

nav .navbar .nav-links .links li .arrow{
    height: 100%;
    width: 22px;
    text-align: center;
    color: #fff;
    line-height: 70px;
    transition: all 0.3s ease;
}
nav .navbar .nav-links .links li:hover .prop-arrow,
nav .navbar .nav-links .links li:hover .real-arrow{
    transform: rotate(180deg);
}
nav .navbar .nav-links .links .sub-menu{
    position: absolute;
    top: 70px;
    left: 0;
    background: #2e2e2e;
    line-height: 40px;
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 2px 4px 2px rgba(0,0,0,0.2);
    display: none;
}
nav .navbar .nav-links .links .sub-menu li{
    padding: 0 22px;
    border-bottom: 1px solid #e0e2e4;
}
nav .navbar .nav-links .links .sub-menu li a{
    color: #fff;
    font-size: 15px;
    font: 500;
}
.navbar .nav-links .links li:hover .prop-sub-menu,
.navbar .nav-links .links li:hover .real-sub-menu{
    display: block;
}

.navbar .bx-menu,
    .nav-links .sidebar-logo .logo_name,
    .nav-links .sidebar-logo .bx-x {
        display: none;
    }

nav  .navbar .nav-links .links u li:hoverr{
    color: orange;
}

/* responsive navbar */
 @media (max-width:954px) {
    nav .navbar{
        max-width: 100%;
        padding: 0 25px;
    }
    nav .navbar .nav-links .links li{
        padding: 0 10px;
    }
    nav .navbar .nav-links .links li a{
        font-size: 14px;
    }
}

@media (max-width:800px) {
    nav .navbar .nav-links{
        display: block;
        position: fixed;
        top: 0;
        left: -100%;
        max-width: 270px;
        width: 100%;
        background: #2e2e2e;
        padding: 20px;
        line-height: 40px;
    }
    nav{
      height: 50px;
    }
    nav .navbar .logo a img{
      width: 30px;
      height: 30px;
  }
    nav .navbar .nav-links .sidebar-logo{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .navbar .bx-menu,
    .nav-links .sidebar-logo .logo_name,
    .nav-links .sidebar-logo .bx-x {
        color: #fff;
        font-size: 25px;
        font-weight: 500;
        cursor: pointer;
    }
    .navbar .bx-menu,
    .nav-links .sidebar-logo .logo_name,
    .nav-links .sidebar-logo .bx-x {
        display: block;
    }
    nav .navbar .nav-links .links{
        display: block;
        margin-top: 20px;
    }
    nav .navbar .nav-links .links li{
        display: block;
    }
    nav .navbar .nav-links .links .sub-menu{
        display: none;
        position: relative;
        top: 0;
        left: 0;
        box-shadow: none;
    }
    nav .navbar .nav-links .links .sub-menu li{
        border-bottom: none;
    }
    nav .navbar .nav-links .links .sub-menu li a{
        color: #fff;
    }
    .navbar .nav-links .links li:hover .prop-sub-menu,
.navbar .nav-links .links li:hover .real-sub-menu{
    display: none;
}
   nav .navbar .nav-links .links li .arrow{
       line-height: 40px;
   }
   nav .navbar .nav-links .links li:hover .prop-arrow,
   nav .navbar .nav-links .links li:hover .real-arrow{
    transform: rotate(0deg);
   }

   nav .navbar .nav-links.show .links .sub-menu.prop-sub-menu{
       display: block;
   }
} 

           /* Showcase  */
.showcase {
    height: 450px;
  }
  
  .container {
    max-width: 1100px;
    padding: 0 30px;
    margin: 0 auto;
    overflow: auto;
    position: relative;
    top: 25vh;
  }
  
  .m-space {
    margin: 1rem;
  }
  
  .my-space {
    margin: 1rem 0;
  }
  
  .p-space {
    padding: 1rem;
  }
  
  .py-space {
    padding: 1rem 0;
  }
  
  .m-space {
    margin: 2rem;
  }
  
  .my-space {
    margin: 2rem 0;
  }
  
  .p-space {
    padding: 2rem;
  }
  
  .py-space {
    padding: 2rem 0;
  }
  
  .m-space {
    margin: 3rem;
  }
  
  .my-space {
    margin: 3rem 0;
  }
  
  .p-space {
    padding: 3rem;
  }
  
  .py-space {
    padding: 3rem 0;
  }
  
  .m-space {
    margin: 4rem;
  }
  
  .my-space {
    margin: 4rem 0;
  }
  
  .p-space {
    padding: 4rem;
  }
  
  .py-space {
    padding: 4rem 0;
  }
  
  .m-space {
    margin: 5rem;
  }
  
  .my-space {
    margin: 5rem 0;
  }
  
  .p-space {
    padding: 5rem;
  }
  
  .py-space {
    padding: 5rem 0;
  }
  
  @media (max-width: 700px) {
    h1 {
      font-size: 22.5px !important;
    }
  
    .showcase-content {
      text-align: left;
      padding-top: 20px;
      height: 600px;
    }
    .showcase-content img {
      display: flex;
      top: 140px;
      position: relative;
      left: -20vh;
    }
  }
  
  .first-svg {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
   padding-top: 5vh;
  }
  
  .showcase-content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .showcase-content img {
    width: 50%;
  }
  .showcase-content h1 {
    font-size: 50px;
    line-height: 1.2;
    color: #2e2e2e;
  }
  
  .showcase-content p {
    margin: 20px 0 !important;
    color: gray;
  }

  .learn{
      height: 35px;
      width: 120px;
      position: relative;
        top: 2vh;
        color: #e0e2e4;
        background-color: orange;
        border: none;
        border-radius: 5px;
        font-weight: bold;
        cursor: pointer;
}

